// mixin
@mixin zoom($time) {
    transition: ease-in-out $time;
}

// 全域設定
.container {
    padding-top: 32px;
    padding-bottom: 32px;
}

a {
    text-decoration: none;
    color: $dark;
    @include zoom(0.2s);

    &:hover {
        color: $success;
    }
}

img {
    font-size: 0;
}