<div class="nav bg-secondary">
  <div class="container d-flex align-items-start flex-column">
    <div class="nav-bar">
      <!-- /////logo///// -->
      <h1 class="mb-5"><a href="index.html">answer</a></h1>
      <!-- /////nav///// -->
      <ul class="list-unstyled">
        <li class="mb-4 ps-5 py-1">
          <a href="#" class="d-flex align-items-center fw-bold"
            ><span class="material-icons me-3"> poll </span>Dashboard</a
          >
        </li>
        <li class="mb-4 ps-5 py-1">
          <a href="#" class="d-flex align-items-center fw-bold"
            ><span class="material-icons me-3"> question_answer </span
            >Question</a
          >
        </li>
        <li class="mb-4 ps-5 py-1 nav-now">
          <a href="index.html" class="d-flex align-items-center fw-bold"
            ><span class="material-icons me-3"> assignment </span>Assignment</a
          >
        </li>
        <li class="mb-4 ps-5 py-1">
          <a href="#" class="d-flex align-items-center fw-bold"
            ><span class="material-icons me-3"> video_library </span>Course</a
          >
        </li>
        <li class="mb-4 ps-5 py-1">
          <a href="admin.html" class="d-flex align-items-center fw-bold" id="admin"
            ><span class="material-icons me-3"> people </span>Admin</a
          >
        </li>
        <li class="ps-5 py-1">
          <a href="#" class="d-flex align-items-center fw-bold"
            ><span class="material-icons me-3"> settings </span>Settings</a
          >
        </li>
      </ul>
    </div>
    <a href="#" class="nav-user mt-auto d-flex align-items-center">
      <div class="nav-user-img me-3">
        <img src="/assets/images/andychen.jpeg" alt="andychen" />
      </div>
      <div class="nav-user-info">
        <div class="mb-1 fw-bold">Andy Chen</div>
        <div class="fs-sm text-gray">andy0401@mail.com</div>
      </div>
    </a>
  </div>
</div>