section {
  margin-left: 296px;
}

.assignment-list {
  select {
    margin-bottom: $spacer * .375;
  }

  li {
    width: 320px;

    &:hover .name {
      color: $success;
    }
  }

  .name {
    color: $gray-600;
  }

  // /////目前正在觀看的內容
  &-now {
    background-color: $secondary;
  }
}

.assignment-comment {
  &-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin-right: $spacer * .5;

    img {
      max-width: 40px;
    }
  }

  .card-body {
    padding: 16px 32px 22px 16px;
  }

}

.code {
  font-family: 'Roboto Mono', sans-serif;
  color: $success;
  background-color: $secondary;
}

.reply {
  top: -1px;
  left: -1px;
  width: 100.2%;
}